@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.hero, .footer {
    background-color: #1f2937;
}

.hero-header {
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.header-links {
    font-size: 18px;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero-main {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    padding: 64px;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 8px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.hero-img img {
    height: 360px;
    width: auto;
}

.hero-button {
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
}

.button {
    padding: 8px 24px;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    color: #e5e7eb;
}

.favs {
    text-align: center;
    color: #1f2937;
    margin-bottom: 64px;
}

.favs-title {
    font-size: 36px;
    font-weight: 900;
    margin: 48px;
}

.favs-info {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info-content {
    max-width: 200px;
}

.info-content img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center top;
    border: 4px solid #3882f6;
    border-radius: 24px;
}

.info-content .text {
    color: #1f2937;
    font-size: 16px;
}

.wisdom {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wisdom-content {
    margin: 98px;
    padding-left: 92px;
    padding-right: 92px;
    text-align: justify;
    font-style: italic;
}

.wisdom-signature {
    font-size: 24px;
    font-weight: 900;
    text-align: right;
    font-style: normal;
    margin-top: 8px;
}

.contact-content {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 36px;
    margin: 98px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
}

.contact-call {
    text-align: left;
    margin: 12px 0 12px 0;
}

.contact-main {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.contact-helper {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.call-button {
    border: solid #f9faf8;
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
    padding: 36px;
}